// Цвета
$c-blue: #3922C5;
$c-main: #0C0C0C;
$c-text: #494949;
$c-gray: #D9D9D9;
$c-bg: #F4F4F4;
$c-white: #FFFFFF;

// Переходы
$t-base: 0.2s ease-in-out;

// Размеры медиазапросов
$laptop: 1279px;
$tablet: 999px;
$phablet: 767px;
$mobile: 479px;

// Ширина контента
$w-container: 1260px;