body,
input,
textarea,
button {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 24px;
  color: $c-main;
}

body {
  background-color: $c-bg;
}

.main {
  padding: 80px 100px;

  @include media-max($tablet) {
    padding: 40px;
  }

  @include media-max($phablet) {
    padding: 40px 20px;
    padding-top: 20px;
  }
}

.container {
  width: 100%;
  max-width: 846px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @include media-max($mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  @include media-max($mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include media-max($mobile) {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;

  @include media-max($mobile) {
    font-size: 14px;
    line-height: 21px;
  }
}